{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <h3> Strona domowa</h3>
</div>

<!-- Toast container -->
<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="toast align-items-center text-bg-{{ category }} border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>

{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl, { autohide: true, delay: 3000 }) // 3s i automatyczne zamykanie
    });
    toastList.forEach(toast => toast.show());
  });
</script>